/*--------------------------------------------------------------
# Admin Styles
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Freemius
--------------------------------------------------------------*/
#fs_connect {
  width: auto !important;
  text-align: center !important;
  margin: 20px 20px 0 2px !important;
}
#fs_account .postbox {
  max-width: 100%;
}
